SOAPWebService1/WebContent/wsdl/FahranheitToCelsius.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.metacube.com" xmlns:intf="http://webservice.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertFahranheitToCelsius">
    <complexType>
     <sequence>
      <element name="temperature" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertFahranheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="convertFahranheitToCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertFahranheitToCelsiusResponse">

      <wsdl:part element="impl:convertFahranheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertFahranheitToCelsiusRequest">

      <wsdl:part element="impl:convertFahranheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FahranheitToCelsius">

      <wsdl:operation name="convertFahranheitToCelsius">

         <wsdl:input message="impl:convertFahranheitToCelsiusRequest" name="convertFahranheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertFahranheitToCelsiusResponse" name="convertFahranheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FahranheitToCelsiusSoapBinding" type="impl:FahranheitToCelsius">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertFahranheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertFahranheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertFahranheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FahranheitToCelsiusService">

      <wsdl:port binding="impl:FahranheitToCelsiusSoapBinding" name="FahranheitToCelsius">

         <wsdlsoap:address location="http://localhost:8080/SOAPWebService/services/FahranheitToCelsius"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
